

.navbar {
    background-color: #ffffff;
}

body {
    font-family: 'Aileron', sans-serif;
}

.hero {
    height: 100vh;

    background-image: url('../img/portada.jpeg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}
.contenido {
    position: relative;
    color: white;
}

.hero h1 {
    font-size: clamp(1.8rem, 5vw, 3rem);
    line-height: 1.2;
    font-weight: bold;
    color: white;
}

.hero p {
    font-size: 1,5rem;
}

.hero a {
    background-color: #f673b0;
    border: none;
}

.card img {
    width: 100%;
    height: auto;      
    object-fit: cover;   
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1; /* ocupa el espacio restante */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productos {
    background-color: #ffb1d5;
}

.productos h2 {
    font-weight: bold;
}

.nosotros {
    background-color: #fcf6bd;
}fcf6bd

.nosotros h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

.nosotros p {
    font-size: 16px;
}

.beneficios {
    background-color: #d0f4de;
}

.beneficios h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

.contacto {
    background-color: #a9def9;
}

.contacto h2 {
    font-weight: bold;
}

.footer {
    background-color: #e4c1f9;
    color: black;
}

.footer a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {

.hero {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .hero h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .hero p {
        font-size: 14px;
    }

    .hero .btn {
        margin-top: 10px;
    }

    .hero img {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }

    .card img {
    height: auto;
    }

    .nosotros {
        text-align: center;
    }

    .beneficios .cod-md-4 {
        margin-bottom: 20px;
    }

    .footer {
        text-align: center;
    }
}